.table {
    text-align: center;
    margin-left: 150px;
}

p {
  text-indent: 3em;
}

/* Configure table */
tbody td {
    text-align: center;
    letter-spacing: 1px;
}

th {
    border-bottom: 1px solid black;
}

thead tr {
    background-color: rgb(58, 58, 58);
    color: white;
}

tbody tr:nth-child(even){
    background-color: rgba(190, 189, 189, 0.5);
}

tr th:nth-child(odd){
    width: 115px;
}

#id4 thead th:first-child{
    border-right: 2px solid white;
}

#id4 tbody td:first-child{
    border-right: 2px solid black;
}

#id4 tbody td:last-child{
    border-right: none;
}

#id4 thead th:last-child{
    border-left: 2px solid white;
}

#id4 tbody td:last-child{
    border-left: 2px solid black;
}

#id4 tbody tr:last-child{
    border-top: 2px solid black;
}